* {

    font-family: 'Roboto', sans-serif; /*Use Google font for all elements. */

}

.mainContainer {

    display: grid;
    grid-template: 500px 500px / 200px auto;
    background-color: lightblue;

}



.sideBar {

    height: 976px;
    background-color: aqua;
}

.contentArea {

    border: 12px solid red;
    height: 976px;
}

.dashboardItems1 {

    height: 75px;

}

.dashboardItems2 {


    height: 200px;


}

.dashboardItems3 {

    height: 200px;

}